VITE_CLERK_PUBLISHABLE_KEY=pk_test_ZXZpZGVudC1zZWFob3JzZS04Mi5jbGVyay5hY2NvdW50cy5kZXYkVITE_CLERK_PUBLISHABLE_KEY=pk_test_ZXZpZGVudC1zZWFob3JzZS04Mi5jbGVyay5hY2NvdW50cy5kZXYkVITE_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here
